<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid fixed-top">
    <a class="navbar-brand" routerLink="list">JopProfile App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="list">All job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="create">Create job listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="dashboard">Your listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.isLoggedIn()" style="cursor: pointer"
           (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
  <br/>
  <router-outlet></router-outlet>
</div>